<script async src="https://www.googletagmanager.com/gtag/js?id=G-XMVQ46W5P0"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XMVQ46W5P0');
</script>

<p i18n>We are currently developing our services and refining our email structure.</p>
<p><span i18n>For any information, discussions, or offers, please contact us at email </span> <a href="mailto:hello@shakebits.ro"><b>hello&#64;shakebits.ro</b></a></p>
<p i18n>We look forward to connecting with you and discussing how we can help your business thrive online.</p>
<p><span i18n>Technical support email </span> <a href="mailto:dev@shakebits.ro"><b>dev&#64;shakebits.ro</b></a> <span i18n> (Only for existing clients)</span></p>
<p><span i18n>Website </span> <a href="https://www.shakebits.eu/"><b>www.shakebits.eu</b></a> <span i18n> under development</span></p>