
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$shakebits-portal-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($shakebits-portal-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($shakebits-portal-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($shakebits-portal-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }












$snowman: #fbfbfb;
$whitey: #f7f7f7;
$karl: #edeced;
$clooney: #c1bec1;
$gandalf: #979197;
$teflon: #554d56;
$yellow: #fecf33;
$light-orange: #fdbd39;
$orange: #f69833;
$peach: #ee6723;
$green: #c8cf2d;
$turquoise: #0dcfda;
$cornflower-blue: #419bf9;

p, h1, h2, h3, h4, h5, h6, a, b, span, label, hr, img, svg {
    color: var(--font);
    font-family: monospace;
}

span {
    text-decoration: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline solid 0.1px var(--logo);
    cursor: pointer;
}

.modal-header {
    border-bottom: 0.1px solid var(--font);
}
.modal-content {
    background-color: var(--bg);
}
.modal-footer {
    border-top: 0.1px solid var(--font);
}
.btn-primary {
    background-color: var(--bg-secondary);
    color: var(--font);
    border: none;
}
.btn-close {
    --bs-btn-close-white-filter: var(--btn-close);
}
.btn-primary:active {
    background-color: var(--logo);
}

button:hover {
    border-color: var(--logo);
    background: var(--logo);
    opacity: 0.8;
}

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
    background-color: var(--bg);
}