p, a, b, span, label, hr, img, svg {
    color: var(--font);
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font);
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline solid 0.1px var(--logo);
    cursor: pointer;
}
