@use '@angular/material' as mat;

@use './sapphire-m3-theme.scss';
@use './basic-m3-theme.scss';
@use './emerald-m3-theme.scss';

@include mat.core();

//basic
[theme="basic"][darkmode="false"] {
    @include mat.all-component-themes(basic-m3-theme.$light-theme);
    --bg: #{mat.get-theme-color(basic-m3-theme.$light-theme, neutral-variant, 95)}; 
    --bg-secondary: #{mat.get-theme-color(basic-m3-theme.$light-theme, neutral-variant, 70)}; 
    --font: #{mat.get-theme-color(basic-m3-theme.$light-theme, neutral-variant, 0)}; 
    --logo: #{mat.get-theme-color(basic-m3-theme.$light-theme, neutral-variant, 10)}; 
    background-color: var(--bg);
}
[theme="basic"][darkmode="true"] {
    @include mat.all-component-themes(basic-m3-theme.$dark-theme);
    --bg: #{mat.get-theme-color(basic-m3-theme.$dark-theme, neutral-variant, 20)}; 
    --bg-secondary: #{mat.get-theme-color(basic-m3-theme.$dark-theme, neutral-variant, 0)};
    --font: #{mat.get-theme-color(basic-m3-theme.$dark-theme, neutral-variant, 100)}; 
    --logo: #{mat.get-theme-color(basic-m3-theme.$dark-theme, neutral-variant, 99)}; 
    background-color: var(--bg);
}

//sapphire
[theme="sapphire"][darkmode="false"] {
    @include mat.all-component-themes(sapphire-m3-theme.$light-theme);
    --bg: #{mat.get-theme-color(sapphire-m3-theme.$light-theme, neutral-variant, 95)};
    --bg-secondary: #{mat.get-theme-color(sapphire-m3-theme.$light-theme, neutral-variant, 70)};
    --font: #{mat.get-theme-color(sapphire-m3-theme.$light-theme, neutral, 0)};
    --logo: #{mat.get-theme-color(sapphire-m3-theme.$light-theme, primary, 40)};
    background-color: var(--bg);
}
[theme="sapphire"][darkmode="true"] {
    @include mat.all-component-themes(sapphire-m3-theme.$dark-theme);
    --bg: #{mat.get-theme-color(sapphire-m3-theme.$dark-theme, secondary, 10)};
    --bg-secondary: #{mat.get-theme-color(sapphire-m3-theme.$dark-theme, neutral, 4)}; 
    --font: #{mat.get-theme-color(sapphire-m3-theme.$dark-theme, neutral-variant, 100)};
    --logo: #{mat.get-theme-color(sapphire-m3-theme.$dark-theme, neutral, 90)};
    background-color: var(--bg);
}

//emerald
[theme="emerald"][darkmode="false"] {
    @include mat.all-component-themes(emerald-m3-theme.$light-theme);
    --bg: #{mat.get-theme-color(emerald-m3-theme.$light-theme, neutral-variant, 95)};
    --bg-secondary: #{mat.get-theme-color(emerald-m3-theme.$light-theme, neutral-variant, 70)};
    --font: #{mat.get-theme-color(emerald-m3-theme.$light-theme, neutral, 0)};
    --logo: #{mat.get-theme-color(emerald-m3-theme.$light-theme, primary, 40)};
    background-color: var(--bg);
}
[theme="emerald"][darkmode="true"] {
    @include mat.all-component-themes(emerald-m3-theme.$dark-theme);
    --bg: #{mat.get-theme-color(emerald-m3-theme.$dark-theme, neutral, 30)};
    --bg-secondary: #{mat.get-theme-color(emerald-m3-theme.$dark-theme, neutral, 4)}; 
    --font: #{mat.get-theme-color(emerald-m3-theme.$dark-theme, neutral-variant, 100)};
    --logo: #{mat.get-theme-color(emerald-m3-theme.$dark-theme, neutral, 90)};
    background-color: var(--bg);
}
