p {
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.col {
    text-align: center;
    width: 33%;
    padding: 2vh;
}

.default {
    width: calc(20px + 5vh);
    height: calc(20px + 5vh);
    background-image: conic-gradient(#1f1f1f, #979197, #fff);
    border-radius: 33%;
    cursor: pointer;
    border: 0.1px solid var(--bg-secondary);
}

.neon {
    width: calc(20px + 5vh);
    height: calc(20px + 5vh);
    background-image: conic-gradient(#a4b1ad, #65a179, #fff);
    border-radius: 33%;
    cursor: pointer;
    border: 0.1px solid var(--bg-secondary);
}

.sky {
    width: calc(20px + 5vh);
    height: calc(20px + 5vh);
    background-image: conic-gradient(#3e578d, #759eca, #fff);
    border-radius: 33%;
    cursor: pointer;
    border: 0.1px solid var(--bg-secondary);
}
