<h2 mat-dialog-title i18n>Themes</h2>
<mat-dialog-content>
  <div class="container">

    <div class="row">
      <div class="col" id="default">
        <div class="default" id="default" (click)="changeTheme(themeOptions.Basic)"></div>
        <p i18n>Default</p>
      </div>
      <div class="col" id="emerald">
        <div class="emerald" (click)="changeTheme(themeOptions.Emerald)"></div>
        <p i18n>Emerald</p>
      </div>
      <div class="col" id="sapphire">
        <div class="sapphire" (click)="changeTheme(themeOptions.Sapphire)"></div>
        <p i18n>Sapphire</p>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial i18n>Cancel</button>
</mat-dialog-actions>
