p {
    text-align: center;
    font-size: calc(2px + 1vh);
    cursor: pointer;
}

.col {
    text-align: center;
    width: 33%;
    padding: 2vh;
}

.default {
    min-width: calc(20px + 5vh);
    width: 100%;
    aspect-ratio: 1/1;
    background-image: conic-gradient(#1f1f1f, #979197, #fff);
    border-radius: 33%;
    cursor: pointer;
    border: 0.1px solid var(--bg-secondary);
}

.emerald {
    min-width: calc(20px + 5vh);
    width: 100%;
    aspect-ratio: 1/1;
    background-image: conic-gradient(#a4b1ad, #65a179, #fff);
    border-radius: 33%;
    cursor: pointer;
    border: 0.1px solid var(--bg-secondary);
}

.sapphire {
    min-width: calc(20px + 5vh);
    width: 100%;
    aspect-ratio: 1/1;
    background-image: conic-gradient(#3e578d, #759eca, #fff);
    border-radius: 33%;
    cursor: pointer;
    border: 0.1px solid var(--bg-secondary);
}
