.sidenav-container {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

.region-flag {
    height: 30px;
    width: 30px;
    margin-bottom: 2.5px;
    margin-right: 2vh;
}
